---
import Metronome from "./Metronome.astro";
import PlayButton from './PlayButton.astro'
---

<div>
  <PlayButton/>
  <Metronome/>
  
</div>
<script>
  const metronome = document.getElementById("metronome");
  if (metronome) {
    console.log(metronome)
  }
</script>
<style/>
