---

---
<div>
    <footer id="footer">
        <img id="email" src="Email.svg" alt="Email" />
        <img id="github" src="GitHub.svg" alt="Github" />
    </footer>
</div>
<style>
#footer {
		display: flex;
		width: 100%;
		position: absolute;
		bottom: 0;
		justify-content: center;
		height: 50px;
		background-color: #e98816;
		gap: 8vw;
        padding: .5em 0 .5em 0;
	}

</style>
