---
interface Props {}

const {} = Astro.props;
import BpmController from './BpmController.astro';
import MuteController from './MuteController.astro';
---
<div id="metronome">
  <h1>Metronome</h1>
  <div id="controls">
    <MuteController/>
    <BpmController/>
  </div>
  
</div>
<script>
</script>
<style>
  #metronome {
    margin-top: 1rem;
  }

  #controls {
    display: flex;
    gap: 2rem;
  }
</style>
