---
---
<div>
  <h5>Mute</h5>
  <div id="toggle-mute"></div>
</div>
<script>
  import { metronomeIsMuted } from "../stores";
  const toggle = document.getElementById("toggle-mute");

  if(toggle) {
    toggle.onclick = function() {
      console.log("clicked toggle", metronomeIsMuted.get());
      metronomeIsMuted.set(!metronomeIsMuted.get())
    }
    metronomeIsMuted.subscribe((val) => {
      if(val === true) {
        toggle.innerText = "TOGGLE"
      } else {
        toggle.innerText = "TOGGLED"
      }
    })

  }
</script>
<style>
  #toggle-mute {
    user-select: none;
  }
</style>