---

---

<div>
  <h5>Mute</h5>
  <div id="toggle-mute"></div>
</div>
<script>
  import { metronome } from "../stores";
  import _ from "lodash";
  const toggle = document.getElementById("toggle-mute");

  if (toggle) {
    toggle.onclick = function () {
      console.log("clicked toggle", metronome.get());
      metronome.setKey("isMuted", !metronome.get().isMuted);
    };

    metronome.subscribe((val) => {
      if (val.isMuted === true) {
        toggle.innerText = "TOGGLE";
      } else {
        console.log("toggling mute");
        toggle.innerText = "TOGGLED";
      }
    });
  }
</script>
<style>
  #toggle-mute {
    user-select: none;
  }
</style>
