---
interface Props {
  bpm?: number;
}

const {
  bpm = 80
} = Astro.props;
---
<div id="record">
  <h1 id="title"><strong>Looper</strong></h1>
  <section id="sound"></section>
</div>
<div id = "record-button">
  <img id="recording-icon" src="Microphone.svg" alt="record button"/>
</div>
<script>
  const record = document.getElementById("record-button");
  const sound = document.getElementById("sound");
  const icon = document.getElementById("recording-icon");

  if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    let chunks: BlobPart[] = [];

    console.log("getUserMedia supported.");
    navigator.mediaDevices
      .getUserMedia({
        audio: true,
      })

      // Success callback
      .then((stream) => {
        const mediaRecorder = new MediaRecorder(stream);

        if (record && icon) {
          // record audio..
          record.onclick = function () {
            console.log("state", mediaRecorder.state);
            if (mediaRecorder.state === "inactive") {
              mediaRecorder.start();
              record.style.backgroundColor = "red";
              // icon.innerText = "Recording";
            } else {
              mediaRecorder.stop();
              record.style.background = "green";
              icon.innerText = "Playing";
            }
          };
        }

        // turn recorded audio to blob data and immediately play it back
        mediaRecorder.onstop = function (e) {
          const blob = new Blob(chunks, { type: mediaRecorder.mimeType });
          chunks = [];
          const audioUrl = window.URL.createObjectURL(blob);
          const au = new Audio(audioUrl);
          au.loop = true;
          au.play();
        };

        // update chunks with audio as it streams in
        mediaRecorder.ondataavailable = function (e) {
          chunks.push(e.data);
        };
      })
      // Error callback
      .catch((err) => {
        console.error(`The following getUserMedia error occurred: ${err}`);
      });
  } else {
    console.log("getUserMedia not supported on your browser!");
  }
</script>
<style>
  .button {
    cursor: pointer;
  }
  #recording-icon {
    cursor: pointer;
  }
  img {
    width: 200px;
  }
  #title {
    font-size: 4rem;
  }
  #record {
    display: flex;
    justify-content: center;
  }
  #record-button {
    display: flex;
    justify-content: center;
  }
</style>
